body{
  margin: 0;
}

.login-page {
  background-image: url('background.png');
  background-size: cover;
  height: 102vh; 
  margin: -2%;
  overflow: hidden;
}

.login-box{
  text-align: center;
  position: relative;
  top: 20%;
  font-family:'Jeju Gothic', sans-serif;
}

.login-form input{
  width: 180px;
  height: 40px;
  border: none;
  font-size: 23px;
  padding-left: 55px;
  padding-right: 10px;
}

.icon {
  width: 30px;
  height: 38px;
  position: relative;
  left: 3%;
  top: 12px;
}

.login-btn {
  background-image: url('loginbutton.png');
  width: 240px;
  height: 40px;
  position: relative;
  border-color: #D55FFF;
  border-width: 2px;
  left: 1%;
  font-size: 20px;
  color: #FDE8F3;
  font-family: 'Inter',sans-serif;
  font-weight: 800;
}

.login-btn:hover{
  background-color: #8339ED;
}

.signupright{
  position: relative;
  background-image: url('background2.png');
  height: 102vh;
  background-repeat: no-repeat;
  width: 60vw;
  margin-top: -1%;
}

.embark{
  font-family: 'Jeju Gothic', sans-serif;
  color: #D55FFF;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black; 
  font-weight: bold;
  padding-left: 5%;
  font-size: 60px;
  width: 20%;
  padding-top: 18%;
}

.signupleft{
  background-color: white;
  font-family: 'Jeju Gothic', sans-serif;
  width: 40vw;
  margin-left: 3%;
}

.signupinput{
  height: 30px;
  width: 30vw;
  font-size: 17px;
  padding-left: 1%;
}

.signuplabel{
  font-size: 20px;
}

.registerbtn{
  background-color: #8339ED;
  height: 35px;
  width: 30vw;
  font-size: 20px;
  color: white;
  border: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.registerbtn:hover{
  background-color: #6315d0;
}

.fade-in-word span {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Delay each word's animation */
.fade-in-word span:nth-child(1) {
  animation-delay: 0s;
}
.fade-in-word span:nth-child(2) {
  animation-delay: 0.5s;
}
.fade-in-word span:nth-child(3) {
  animation-delay: 1s; 
}

.home-header{
  font-family:'Jeju Gothic', sans-serif;
  background: linear-gradient(to left, #F2D9FA, #FFECEC);
  margin-top: -1.5%;
}

.logout{
  position:absolute;
  left:92.5%;
  top:3%
}

.homepagediv{
  margin-left: 5%;
  font-family: 'Inter', sans-serif;
}

.courselist {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* Prevents wrapping of items */
  height: 230px;
}

.coursecomponent {
  flex: 0 0 auto; /* Ensure items don't grow or shrink */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
  width: 300px;
  height: 180px;
  margin-right: 35px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.coursetitle{
  margin-top: 0%;
  margin-left: 1%;
}

#waveimg {
  position: fixed;
  bottom: 0px; /* Adjust the distance from the bottom as needed */
  right: 0px; /* Adjust the distance from the right as needed */
  z-index: 1000; /* Ensure it's above other content */
}

.flexcourselist {
  display: flex;
  flex-wrap: wrap;
}

.purplebtnstyle{
  background-color: #8339ED;
  font-size: 20px;
  color: white;
  border: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.newcourseform input,select{
 position: absolute;
 left: 38%;
 width: 55%;
}

.blendbtn{
  background: linear-gradient(to left, #F2D9FA, #FFECEC);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: 17px;
}

.backbtn{
  position: absolute;
  top: 3%;
  left: 2%;
}

.linecoursetitle{
  border-bottom: 2px solid black;
  padding-bottom: 1%;
}

.dashboarddiv{
  position: relative;
  left: 10%;
  width: 80%;
}

.dashboardheader{
  font-family:'Jeju Gothic', sans-serif;
}

.whitebox{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}

.filedlbtn{
  background-color: white;

}